<div class="pure-g-r">
    <div class="pure-u-1">
        <form class="pure-form pure-form-stacked make" method="post" action"/new">
            <fieldset>
                <label for="listname">List Name</label>
                <input id="listname" name="listname" type="text" placeholder="List Name">

                <label for="keyword">Keywords</label>
                <input id="keyword" name="keyword" type="text" placeholder="Keyword1, Keyword2">
                <br>

                <button type="submit" class="pure-button pure-button-primary">Create</button>
            </fieldset>
        </form>
    </div>
</div>