<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        <label for="email">User's Email</label>
        <input id="email" name="email" type="email" placeholder="Email">

        <button type="submit" class="pure-button pure-button-primary">Share</button>
    </fieldset>
</form>