<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title><%= @title %></title>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
            <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Original+Surfer' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="/style.css">
        </head>
        <body>

        <%= yield %>


        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/webspeech.js"></script>
        <script>
            var reco = new WebSpeechRecognition();
              reco.statusText('status');
              reco.statusImage('status_img');
              reco.finalResults('input_field');

              reco.onEnd = function() {
                if (reco.final_transcript != '') {
                      
                }
            }
        </script>
        </body>
    </html>