<% List.all.each do |y| %>
 <% if y.user_id == @user.id %>
   <p><a href="/user/lists/<%= y.id %>/items"><%= y.name %></a></p>
  <% end %>
<% end %>
<br>
<a href="/user/<%= @user.id %>/lists/new">Add a new List</a>