
    <p>
      Well, hello there!
    </p>
    <p>
      
      <a href="https://github.com/login/oauth/authorize?scope=user:email&amp;client_id=<%= client_id %>">Sign in</a> to begin!</a>
    </p>
    