<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">GetThis2</h1>
    <p class="splash-subhead">Hive Mind Shopping Made Easy</p>
    <a class="pure-button" href="https://github.com/login/oauth/authorize?scope=user:email&amp;client_id=<%= client_id %>">Sign in with Github</a>
    