<div class="pure-g-r">
    <div class="pure-u-1">
        <h1>GetThis2.</h1>
    </div>

    <div class="pure-u-1">
        <form class="pure-form pure-form-stacked make" method="post" action="/">
            <fieldset>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="Username">

                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">

                <label for="remember" class="pure-checkbox">
                    <input id="remember" name="remember" type="checkbox"> Remember me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
</div>