html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Original Surfer', 'Architects Daughter', serif;
  }

body {
  background-image: url('brownpaper.gif');
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: 'Original Surfer';

}

.pure-button {
  background-color: #338800;
  font-family: 'Architects Daughter';
  font-size: 1.5em;
}

.bump {
  margin: 1em;
}

.make {
  font-family: 'Architects Daughter';
  text-align: left;
  padding: 1em;
}

.make input, .make label {
  font-size: 1.25em;
}